html {
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(130deg, #FFFFFF, #1C3F80);
    background-repeat: no-repeat;
    background-size: auto;
}
body {
    width: 850px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
}

.appBody {
    background-color: transparent;
}

.container {
    width: 850px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    font-family: 'Raleway', sans-serif;
}

.logo {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

form table {
    margin: 0px 10px 20px 10px;
}

.p-3 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-bottom: 1rem!important;
}

.tableDiv {
    max-height: 300px;
    overflow: scroll;
}

.register {
    font-size: larger;
    width: 500px;
    margin: 10px 175px 20px 175px;
}

.main {
    padding: 20px;
}

th {
    text-align: center;
}

td {
    background-color: white;
}

.mySortable {
    cursor: pointer;
}

p {
    text-align: center;
    font-size: x-large;
}

#text-position {
    position: absolute;
    top: 50px;
    left: 100px;
    border: black 5px double;
}

h4, h5{
    padding: 0px 10px;
}

#signOut {
    position: relative;
    left: 320px;
    bottom: 50px;
    font-size: larger;
}

#listHeader {
    margin-top: 15px;
    /* margin-left: 305px; */
}

#backPage {
    position: relative;
    right: 345px;
    bottom: 40px;
    font-size: larger;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

  /* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}
  
  /* Add a color to the delete button */
.deletebtn {
/* background-color: #f44336; */
    background-color: #ccc;
}

/* Add padding and center-align text to the container */
.modalContainer {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /*Could be more or less, depending on screen size*/
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
}